.sort-wrapper {
  display: flex;
}

.sort-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 40px;
}
.sort-btn-container {
  position: absolute;
  left: 96px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  z-index: 5;
  width: 170px;
  height: auto;
  border-radius: 7px;
}

.sort-btn,
.sort-option-btn {
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  background-color: var(--primary);
  color: white;
  width: 170px;
  height: 70px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.sort-option-btn {
  z-index: 10;
}
.sort-option-btn:focus {
  background-color: var(--secondary);
  border: none;
  outline: none;
}

.sort-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 1;
  border-radius: 5px;
}
.sort-input:focus {
  outline: 2px solid black;
}
.sort-btn.open {
  border-radius: 5px;
  height: 170px;
}

.sort-option-btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  border-radius: 0;
  border-bottom: 1px solid white;
  text-align: left;
}

.sort-option-btn:focus {
  background-color: var(--secondary);
}

.sort-option-btn.hidden {
  display: none;
}

.sort-btn-selected {
  position: absolute;
  top: 10px;
  width: 150px;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  z-index: 2;
}

.sort-btn-selected.open {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.sort-arrow {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 3;
}
.sort-arrow.rotate {
  transform: rotate(180deg);
}
.sort-group {
  position: absolute;
  top: 60px;
  padding: 0 10px;
  padding-bottom: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: auto;
  background-color: var(--primary);
  border-radius: 0 0 5px 5px;
}

.sort-group::after {
  content: "";
  display: block;
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: var(--primary);
  border-radius: 5px;
}
.sort-group.open {
  display: flex;
}

/* ------------------ */

@media screen and (max-width: 1023px) {
  .sort-btn {
    width: 150px;
    height: 65px;
    font-size: 16px;
  }
  .sort-btn.open {
    height: 160px;
  }
  .sort-btn-selected {
    width: 130px;
    top: 5px;
  }

  .sort-option-btn {
    font-size: 16px;
    height: 45px;
  }
  .sort-group {
    width: 150px;
    top: 60px;
  }
  .sort-arrow {
    right: 15px;
    top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sort-label {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .sort-btn-container {
    left: 86px;
  }
  .sort-btn-selected {
    top: 5px;
    width: 110px;
  }
  .sort-btn {
    width: 130px;
    height: 60px;
    font-size: 14px;
  }
  .sort-btn.open {
    height: 145px;
  }
  .sort-group {
    width: 130px;
    top: 55px;
  }
  .sort-option-btn {
    font-size: 14px;
  }
  .sort-arrow {
    right: 15px;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 539px) {
  .sort-label {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .sort-btn-container {
    left: 76px;
  }
  .sort-btn.open {
    height: 95px;
  }
  .sort-btn-selected {
    top: 0px;
    width: 90px;
    height: 45px;
    text-indent: 5px;
  }
  .sort-btn {
    width: 110px;
    height: 50px;
    font-size: 12px;
  }
  .sort-btn.open {
    height: 120px;
  }
  .sort-group {
    width: 110px;
    top: 45px;
    padding-bottom: 5px;
  }
  .sort-option-btn {
    font-size: 12px;
    height: 35px;
    padding-left: 5px;
  }
  .sort-arrow {
    right: 10px;
    width: 16px;
    height: 16px;
    top: 17.5px;
  }

  .sort-group::after {
    height: 7px;
  }
}
