.opt {
  position: relative;
  /* visibility: hidden; */
  height: 200%;
  font-size: 30px;
  border-radius: 0;
}
.opt::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "popularity";
  color: black;
  width: 100%;
  height: 30px;
  background-color: aqua!important;
}
